# Use the front controller as index file. It serves as a fallback solution when
# every other rewrite/redirect fails (e.g. in an existing directory/file).
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set Environment Variable based on SSL
    RewriteCond %{HTTPS} on
    RewriteRule .* - [E=HTTPS:on]

    # Redirect to the front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /index.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>