{% extends 'base.html.twig' %}
 
{% block title %}
Sayagym - Login
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="content bg-white my-4 p-3">
        <h2 class="my-3 text-center">Login</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <input type="hidden" name="_target_path" value="/planEnt">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>

</script>

{% endblock %}